.option-div {
  border: 1px solid black;
  padding:5px;
  margin-bottom: 0.3rem;
  width: 10%;
}



/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  
  /* background-color: hsl(210, 100%, 76%); */
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.disable.select-selected {
  pointer-events: none;
  background-color: hsl(210, 100%, 76%);

}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div:first-of-type , .select-items div:nth-of-type(6){
  pointer-events: none;
  background-color: yellow;
  padding: 0.5rem auto;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  cursor: unset;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}


.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items div:first-of-type:hover,
.select-items div:nth-of-type(6):hover{
  pointer-events: none;
  background-color: yellow;
  padding: 0.4rem auto;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  cursor: unset;
}
.select-items.disappear {
  display: none;
}

/* .inactive.custom-select {
  background-color: hsl(210, 100%, 86%);
  cursor: unset;
}
.inactive.select-selected {
  background-color: hsl(210, 100%, 86%);
  cursor: unset;
} */